{% extends 'base/layout.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<title>App Name</title>
{% endblock %}
{% block body %}

<h3 class="center" style="color: #fed356; margin: 20px 0;"> Admin Portal! </h3>

<div class="main-content">
    <div class="machines">
        <h4> Available Machines </h4>

        {% for machine in MACHINES %}
        <div style="padding: 4px;">
            <a href="{{ machine.machine_url }}"> {{ machine.machine_url }} </a>
        </div>
        <!-- <div class="machine-block">
            <iframe width="100%" height="600px" src="{{ machine.machine_url }}" title="{{ machine.machine_url }}">
            </iframe>
        </div> -->
        {% endfor %}
    </div>
</div>

<div class="websites container-fluid">
    <h4 class="center" style="margin: 64px 0 12px 0;"> Our currently hosted websites </h4>

    <table class="table table-striped table-dark">
        <thead>
            <td> app_name </td>
            <td> docker_image </td>
            <td> APP URL </td>
            <td> DashBoard </td>
            <td> user_id </td>
            <td> provisioning </td>
        </thead>
        <tbody>
            {% for app in WORKING_APPLICATIONS %}
            <tr>
                <td> {{ app.app_name }} </td>
                <td> {{ app.docker_image }} </td>
                <td> {{ app.app_url }} </td>
                <td>
                    <a href="{{ app.dashboard_url }}"> {{ app.dashboard_url }} </a>
                </td>
                <td> {{ app.user_id }} </td>
                <td> {{ app }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}



{% endblock %}