{% extends 'base/layout.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<title>App Name</title>
{% endblock %}
{% block body %}

<div class="main-content">
    <h3 style="color: #fed356; margin-bottom: 20px;" class="center"> Welcome to Our Hosting Service! </h3>

    <div id="create-application">
        <div class="container">
            <h3 class="center" style="color: rgb(230, 230, 230);"> Create Application </h3>
            <form id="create-application-form">
                <div class="form-group">
                    <label for="app_name"> Enter the Application Name </label>
                    <input class="form-control" name="app_name" id="app_name" onfocusout="handleFocusOut()"
                        placeholder="Application Name" required>
                    <div id="app_name_valid" class="valid-feedback" style="text-align: right;">
                        Looks good!
                    </div>
                    <div id="app_name_invalid" class="invalid-feedback" style="text-align: right;">
                        App with this name already exists!
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="docker_image"> Enter the Docker Hub link <i class="fa fa-link"
                                aria-hidden="true"></i> </label>
                    </div>
                    <input class="form-control" name="docker_image" id="docker_image" placeholder="Docker Hub Link"
                        required>
                </div>
                <div class="form-group">
                    <button class="btn btn-success full-size" type="submit"> CREATE </button>
                </div>
            </form>
        </div>
    </div>

</div>


<div class="websites container">
    <h4> My hosted websites </h4>

    <table class="table table-striped table-dark">
        <thead>
            <td> app_name </td>
            <td> docker_image </td>
            <td> APP URL </td>
            <td> DashBoard </td>
        </thead>
        <tbody>
            {% for app in WORKING_APPLICATIONS %}
            <tr>
                <td> {{ app.app_name }} </td>
                <td> {{ app.docker_image }} </td>
                <td> {{ app.app_url }} </td>
                <td>
                    <a href="{{ app.dashboard_url }}"> {{ app.dashboard_url }} </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}

<script>

    function handleFocusOut() {
        console.log("Focus out");

        const app_name = document.getElementById("app_name").value;
        if (!app_name) {
            document.getElementById("app_name").style.borderColor = "#dc3545";
            document.getElementById("app_name_invalid").style.display = "none";
            document.getElementById("app_name_valid").style.display = "none";
            return;
        }

        fetch(`/application_exists?app_name=${app_name}`)
            .then(res => res.json())
            .then(data => {
                console.log(data);

                if (data.success) {
                    if (data.exists) {
                        // Warn the user that the app name is wrong
                        document.getElementById("app_name").style.borderColor = "#dc3545";
                        document.getElementById("app_name_invalid").style.display = "block";
                        document.getElementById("app_name_valid").style.display = "none";
                    } else {
                        // Give a green signal kind of
                        document.getElementById("app_name").style.borderColor = "#198754";
                        document.getElementById("app_name_invalid").style.display = "none";
                        document.getElementById("app_name_valid").style.display = "block";
                    }
                } else {
                    console.log(data.error);
                }
            }).catch(err => {
                console.log("Something went wrong" + err);
            });
    }

    document.getElementById("create-application-form").onsubmit = function (e) {
        e.preventDefault();

        const app_name = document.getElementById("app_name").value;
        const docker_image = document.getElementById("docker_image").value;

        fetch(`/create_application?app_name=${app_name}&docker_image=${docker_image}`)
            .then(res => res.json())
            .then(data => {
                console.log(data);

                if (data.success) {
                    location.reload();
                } else {
                    alert(data.error);
                }
            }).catch(err => {
                alert("Something went wrong" + err);
            });
    }
</script>

{% endblock %}