body {
  margin: 0;
  height: 100%;
  cursor: auto;
  background-color: #2b2b2b;
  background: #2b2b2b;
  color: #b3b9c5;
  box-sizing: border-box;
}

.main-content {
  background: rgba(0, 0, 0, 0.13);
  max-width: 600px;
  margin: 32px auto 16px;
  padding: 32px 24px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.big-content {
  /* color: #8d8d8d; */
  background: rgba(0, 0, 0, 0.13);
  max-width: 900px;
  margin: 32px auto 16px;
  padding: 32px 24px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.btn {
  background: #1b1b1b;
  border: 1px solid transparent;
  color: #6ab0f3;
}

.full-size {
  width: 100%;
}

input {
  color: white !important;
  border: 2px solid #444;
  background: #333!important;
}

.center {
  text-align: center;
}

.form-group {
  margin: 16px 0;
}

.form-group label {
  margin-bottom: 4px;
  color: rgb(209, 209, 209);
}

.yellow {
  color: #fed356
}